/* Copyright (C) 2019-2020 Stephan Kreutzer
 *
 * This file is part of dimgra-1.
 *
 * dimgra-1 is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License version 3 or any later version,
 * as published by the Free Software Foundation.
 *
 * dimgra-1 is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License 3 for more details.
 *
 * You should have received a copy of the GNU Affero General Public License 3
 * along with dimgra-1. If not, see <http://www.gnu.org/licenses/>.
 */

body
{
    font-family: sans-serif;
}

#container-current
{
    width: 48%;
    height: 18%;
    position: absolute;
    top: 0%;
}

#pane-current
{
    text-align: center;
}

#container-right
{
    width: 48%;
    height: 18%;
    position: absolute;
    left: 52%;
    top: 0%;
}

#pane-right
{
    text-align: left;
}

#details
{
    width: 96%;
    height: 38%;
    position: absolute;
    left: 2%;
    top: 62%;
}

#axis-x-dimension
{
    width: 100%;
}

#axis-y-dimension
{
    width: 100%;
}

.highlight
{
    background-color: LightGray;
}
